<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container-formulario">
        <form action="" #formulario="ngForm" class="margen-chico">
            <h1>Inicia Sesion</h1>
            <div>
                <label for="username">Nombre de Usuario</label>
                <input type="text" name="username" id="username" [(ngModel)]="usuario.email" class="text-input">
                <!--
                <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                    <span *ngIf="loginForm.get('username')?.errors?.['required']">El username es obligatorio.</span>
                </div>
                -->
            </div>
            <div>
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña" [(ngModel)]="usuario.contrasenia" class="text-input">
                <!--
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <span *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</span>
                    <span *ngIf="loginForm.get('password')?.errors?.['minlength']">
                    La contraseña debe tener al menos 6 caracteres.
                    </span>
                </div>
                -->
            </div>
           
    
            <button type="submit" >Iniciar Sesion</button>
        </form>
        <p>¿Primera vez en la página? <a href="/register">Regístrate</a></p>
    </div>
</body>
</html>
