<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container-formulario">
        <form action="" #formulario="ngForm" class="margen-chico">
            <h1>Inicia Sesion</h1>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" [(ngModel)]="usuario.email">
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                    <span *ngIf="registerForm.get('email')?.errors?.['required']">El email es obligatorio.</span>
                    <span *ngIf="registerForm.get('email')?.errors?.['email']">Formato de email incorrecto.</span>
                </div>
            </div>
            <div>
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña" [(ngModel)]="usuario.contrasenia">
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                    <span *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</span>
                    <span *ngIf="registerForm.get('password')?.errors?.['minlength']">
                    La contraseña debe tener al menos 6 caracteres.
                    </span>
                </div>
            </div>
           
    
            <button type="submit" >Iniciar Sesion</button>
        </form>
        <p>¿Primera vez en la página? <a href="/register">Regístrate</a></p>
    </div>
</body>
</html>
